.gift-png{
  height: 30px;
  position: absolute;
  top: 97px;
  margin-left: 5px;
}
.freecode{
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}
.green-color{
  background-color: green;
  font-weight: inherit;
  height: 300px;
  width: 900px;
  border-radius: 10px;
  margin: 70px auto auto;

}
.black-color{
  background-color: black;
  height: 200px;
  width: 796px;
  margin: auto;
  position: relative;
}
.white-color1{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 4px;
  top: 2px;
}
.white-color2{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 48px;
  top: 2px;
}
.white-color3{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 92px;
  top: 2px;
}
.white-color4{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 136px;
  top: 2px;
}
.white-color5{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 180px;
  top: 2px;
}
.white-color6{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 224px;
  top: 2px;
}
.white-color7{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 268px;
  top: 2px;
}
.white-color8{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 312px;
  top: 2px;
}
.white-color9{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 356px;
  top: 2px;
}
.white-color10{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 400px;
  top: 2px;
}
.white-color11{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 444px;
  top: 2px;
}
.white-color12{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 488px;
  top: 2px;
}
.white-color13{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 532px;
  top: 2px;
}
.white-color14{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 576px;
  top: 2px;
}
.white-color15{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 620px;
  top: 2px;
}
.white-color16{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 664px;
  top: 2px;
}
.white-color17{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 708px;
  top: 2px;
}
.white-color18{
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  height: 195px;
  width: 40px;
  position: absolute;
  left: 752px;
  top: 2px;
}
.black-color1{
  background-color: black;
  height: 80px;
  width: 25px;
}
